<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">    
    <title><%= title %></title>
    <% if @_meta_description %><meta name="description" content="<%= @_meta_description %>"><% end %>
    <%= viewport %>
    <link rel="author" href="/humans.txt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="pingback" href="http://<%= request.host %>/pingback/xmlrpc" />
    <link rel="http://webmention.org/" href="http://<%= request.host %>/pingback/webmention" />
    <% if SiteConfig.ga_id %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= SiteConfig.ga_id %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body class="<%= browser.body_class %> <%= path_class %>">

    <!--
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/dashboard">Webmention.io</a>
          <div class="nav-collapse">
            <ul class="nav">
              <!- - <li><a href="/dashboard">Dashboard</a></li> - - >
            </ul>
          </div>
        </div>
      </div>
    </div>
    -->

    <%= yield %>
    <%= partial :'partials/_footer' %>

  </body>
</html>