<div class="container-narrow">
<%= partial :'partials/_topbar' %>
<div class="page">

  <section>
    <h2>Setup</h2>

    <p>You can add the following tags to any website to accept webmentions.</p>

    <p><pre><code>&lt;link rel="webmention" href="https://webmention.io/<%= @user.username %>/webmention" /&gt;
&lt;link rel="pingback" href="https://webmention.io/<%= @user.username %>/xmlrpc" /&gt;</code></pre></p>

    <p>You can use this account on any number of websites. The webmentions can be queried per website <a href="https://github.com/aaronpk/webmention.io#api">using the API</a>.</p>
  </section>

  <section>
    <h2>Mentions Feed</h2>

    <p>The link below provides all mentions received on your account as a Microformats feed. You can subscribe to this in a reader like <a href="https://aperture.p3k.io">Aperture</a>. You may want to add this to your Aperture "Notifications" channel!</p>

    <p><pre><code><%= "#{SiteConfig.base_url}/api/mentions.html?token=#{@user.token}" %></code></pre></p>
    <p><pre><code><%= "#{SiteConfig.base_url}/api/mentions.atom?token=#{@user.token}" %></code></pre></p>
  </section>

  <section>
    <h2>API Key</h2>

    <p>In order to access the list of mentions for a domain (not just a specific URL), you will need to use a token. Below is the token for your account.</p>

    <p><pre><code><%= @user.token %></code></pre></p>
  </section>

</div>

</div><!-- container -->
