<div class="container-narrow notification" style="padding-top: 30px;">

  <div class="hero-unit">
    <div class="notification-text"><%= @notification.html %></div>
    <div class="date"><%= @notification.created_at.strftime('%Y-%m-%d %H:%M %z') %></div>
  </div>

  <div class="links">
    <h3>Webmentions</h3>
    <% row = 'odd' %>
    <% @webmentions.each do |link| %>
      <table class="webmentions <%= (row == 'odd' ? (row='even') : (row='odd'))  %>">
        <tr>
          <th>date</th>
          <td><%= link.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
        <tr>
          <th>source</th>
          <td><a href="<%= link.href %>"><%= link.href %></a></td>
        </tr>
        <tr>
          <th>target</th>
          <td><a href="<%= link.page.href %>"><%= link.page.href %></a></td>
        </tr>
      </table>
    <% end %>

  </div>

</div><!-- container -->
<style type="text/css">
  .notification .notification-text {

  }
  .notification .date {
    text-align: right;
    font-size: 0.8em;
  }
  .notification .links {
    padding: 0 60px;
  }
  .notification h3 {
    font-size: 20px;
    margin: 0;
  }
  .webmentions {
    margin-top: 15px;
    width: 100%;
  }
  .webmentions.odd {
    background-color: #fff;
  }
  .webmentions.even {
    background-color: #eee;
  }
  .webmentions th {
    text-align: left;
    width: 60px;
  }
  .webmentions td {
    text-overflow: ellipsis;
  }
</style>
